{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-console": "warn",
    "no-debugger": "warn",
    "no-underscore-dangle": "off",
    "react-hooks/rules-of-hooks": "error"
  }
}
